
.stack_bar1 {
    position:relative;
    height:0.5rem;
}

/* @keyframes loading {
    0%   {background-color: aqua;}
    25%  {background-color: rgb(255, 0, 221);}
    50%  {background-color: rgb(47, 255, 0);}
    100% {background-color: rgb(204, 0, 255);}
  } */

/* .stack_bar {
    background:yellow;
    position:relative;
    height:2px;
    width: 10vw;
}
.stack_bar:before {
    content:'';
    background:red;
    width:30%;
    height:2px;
    position:absolute;    
}
.stack_bar:after {
    content:'';
    background:rgb(0, 68, 255);
    width:30%;
    height:2px;
    left: 50%;
    position:absolute;    
} */